.home__leaguetable {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.home__leaguetable > h2 {
  margin-top: 5px;
}

.home__leaguetable > table {
  table-layout: auto;
  width: 100%;
  font-size: 0.9rem;
  line-height: 130%;
  height: 95%;
  border-collapse: collapse;
}

.home__leaguetable > table > tbody > tr {
  align-items: center;
  border-bottom: thin solid #9a9a9a;
}

.home__leaguetable > table > tbody > tr > th:nth-child(2) {
  text-align: left;
}

.home__leaguetable > table > tbody > tr > td:first-child {
  display: flex;
  justify-content: center;
  margin-right: 5px;
  height: 100%;
  align-items: center;
}

.home__leaguetable > table > tbody > tr > td:last-child {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
}

@media (max-width: 1500px) {
  .home__leaguetable {
    padding-bottom: 10px;
  }
}
