.home__leaguestats {
  height: 100%;
}

.home__leaguestats__topscorers {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home__leaguestats__assists {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home__leaguestats__topscorer {
  display: flex;
  align-items: center;
  padding: 5px;
}

.home__leaguestats__topscorer:nth-child(2) {
  background-color: rgb(244, 247, 58);
}

.home__leaguestats__topscorer:nth-child(3) {
  background-color: rgb(188, 188, 188);
}

.home__leaguestats__topscorer:nth-child(4) {
  background-color: rgb(250, 215, 160);
}

.home__leaguestats__topscorer > img {
  margin-right: 1rem;
}

.home__leaguestats__topscorer > span {
  margin-left: auto;
}

.home__leaguestats__assistee {
  display: flex;
  align-items: center;
  padding: 5px;
}

.home__leaguestats__assistee:nth-child(2) {
  background-color: rgb(244, 247, 58);
}

.home__leaguestats__assistee:nth-child(3) {
  background-color: rgb(188, 188, 188);
}

.home__leaguestats__assistee:nth-child(4) {
  background-color: rgb(250, 215, 160);
}

.home__leaguestats__assistee > img {
  margin-right: 1rem;
}

.home__leaguestats__assistee > span {
  margin-left: auto;
}
