.home__headlines {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.home__headline {
  display: flex;
  align-items: center;
  padding: 15px 15px 15px 5px;
  color: #000;
}

.home__headline.dark:nth-child(2n) {
  background-color: rgb(57, 57, 57);
  border-radius: 8px;
}

.home__headline > div > h3 {
  margin-top: 0;
}

.home__headline > img {
  margin-right: 1rem;
  border-radius: 8px;
}

.home__headline:nth-child(2n) {
  background-color: rgb(225, 252, 229);
}

@media (max-width: 950px) {
  .home__headline {
    font-size: 0.8rem;
  }

  .home__headline > img {
    max-width: 100px;
  }
}
