.favourites {
  margin-left: 250px;
  width: 100%;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 7fr;
  grid-template-areas:
    "title ."
    "teams players";
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.favourites__title {
  padding: 1.5rem;
  font-size: 2rem;
}

.favourites__teams {
  grid-area: teams;
  align-self: baseline;
  padding-right: 3rem;
  overflow-y: scroll;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  margin-right: 2rem;
}

.favourites__players {
  grid-area: players;
  align-self: baseline;
  padding-right: 3rem;
  overflow-y: scroll;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
}

.favourites__teams__title {
  padding: 1.5rem;
  text-decoration: underline;
}

.favourites__players__title {
  padding: 1.5rem;
  text-decoration: underline;
}

.favourites__teams--row {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  text-decoration: none;
  color: #000;
  border-bottom: 0.5px solid rgb(105, 104, 104);
}

.favourites__players--row {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  text-decoration: none;
  color: #000;
  border-bottom: 0.5px solid rgb(105, 104, 104);
}

.favourites__teams--row:last-child {
  border: none;
}

.favourites__players--row:last-child {
  border: none;
}

.favourites__teams--row > img {
  margin-right: 1rem;
}

.favourites__players--row > img {
  margin-right: 1rem;
}

@media (max-width: 950px) {
  .favourites {
    box-sizing: border-box;
    margin-left: 75px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "teams"
      "players";
    gap: 15px;
  }

  .favourites__title {
    font-size: 1.2rem;
  }

  .favourites__title > h1 {
    margin: 0;
  }

  .favourites__players {
    padding: 5px;
  }

  .favourites__teams {
    padding: 5px;
    margin-right: 0;
  }
}
