@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");

.navbar {
  width: 250px;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 8px 8px 0px;
  position: fixed;
  top: 0;
  left: 0;
  align-self: flex-start;
}

.navbar__logo > h1 {
  margin-top: 3rem;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 2.5rem;
}

.navbar__logo > h1 > strong {
  color: #737373;
}

.navbar__logo__responsive {
  display: none;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 1.5rem;
  margin-top: 5px;
}

.navbar__logo__responsive > h1 > strong {
  color: #737373;
}

.navbar__userInfo {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
}

.navbar__userInfo > img {
  width: 100px;
}

.navbar__userInfo > h2 {
  margin-top: 20px;
  font-weight: 600;
  overflow-wrap: anywhere;
  text-align: center;
}

.navbar__menu {
  width: 80%;
  margin-top: 60px;
}

.navbar__menu > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-left: 0;
}

.navbar__menu > ul > li {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: none;
}

.navbar__menu > ul > li > a {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.navbar__menu > ul > li > a > img {
  margin-right: 1rem;
}

.navbar__menu > ul > li > a.active {
  color: rgb(48, 56, 210);
}

.navbar__darkMode {
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
}

.navbar__darkMode__button {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: auto;
}

.navbar__signout {
  margin-bottom: 10px;
  /* height: 100%; */
  display: flex;
  align-items: flex-end;
}

.navbar__signout > button {
  background-color: #d9d9d9;
  width: 200px;
  height: 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__signout > button > img {
  margin-right: 20px;
}

@media (max-width: 950px) {
  .navbar__menu > ul > li > a > strong {
    display: none;
  }

  .navbar__logo__responsive {
    display: flex;
  }

  .navbar {
    width: 75px;
  }

  .navbar__signout {
    width: 30px;
    justify-content: center;
  }

  .navbar__signout > button {
    font-size: 14px;
  }

  .navbar__userInfo {
    display: none;
  }

  .navbar__logo {
    display: none;
  }

  .navbar__menu {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar__menu > ul > li > a > img {
    margin-right: 0;
  }

  .navbar__menu > ul > li {
    margin-right: 0;
  }

  .navbar__menu > ul > li > a.active {
    border-bottom: 4px solid rgb(111, 117, 245);
  }

  .navbar__darkMode__button > img {
    width: 40px;
  }

  .navbar__signout > button > p {
    display: none;
  }

  .navbar__signout > button > img {
    margin: 0;
  }
}
