.player__position {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  width: fit-content;
}

.player__position > h2 {
  margin-top: 0;
  align-self: baseline;
}

.player__position > img {
  min-width: 400px;
  max-width: 500px;
  border-radius: 8px;
}

.player__position__img {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  -webkit-box-shadow: 0px 0px 28px 5px rgba(235, 235, 235, 1);
  -moz-box-shadow: 0px 0px 28px 5px rgba(235, 235, 235, 1);
  box-shadow: 0px 0px 28px 5px rgba(235, 235, 235, 1);
  visibility: hidden;
}

.player__position__img.gk {
  color: #000;
  bottom: 8%;
}

.player__position__img.cb1 {
  color: #000;
  left: 32%;
  bottom: 20%;
}

.player__position__img.cb2 {
  color: #000;
  right: 32%;
  bottom: 20%;
}

.player__position__img.lb {
  color: #000;
  left: 12%;
  bottom: 25%;
}

.player__position__img.rb {
  color: #000;
  right: 12%;
  bottom: 25%;
}

.player__position__img.cm1 {
  color: #000;
  bottom: 40%;
  left: 32%;
}

.player__position__img.cm2 {
  color: #000;
  bottom: 40%;
  right: 32%;
}

.player__position__img.cdm {
  color: #000;
  bottom: 30%;
}

.player__position__img.lw {
  color: #000;
  left: 15%;
  bottom: 65%;
}

.player__position__img.rw {
  color: #000;
  right: 15%;
  bottom: 65%;
}

.player__position__img.st {
  color: #000;
  bottom: 72%;
}

.player__position__img.cam {
  color: #000;
  bottom: 55%;
}

.show {
  visibility: visible;
}

@media (max-width: 1560) {
  .player__position {
    min-width: 550px;
  }

  .player__position > img {
    min-width: 500px;
    max-width: 550px;
  }
}

@media (max-width: 950px) {
  .player__position > img {
    min-width: 180px;
    max-width: 280px;
  }

  .player__position__img {
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 0.7rem;
  }
}
