.searchbar {
  grid-area: search;
  margin: 20px 40px;
}
.searchbar > input {
  border: none;
  border-radius: 8px;
  height: 50px;
  background: transparent url("../img/searchicon.png");
  background-repeat: no-repeat;
  background-color: #fff;
  padding: 13px 4px 9px 80px;
  background-position: 3% 50%;
  font-size: 1.2rem;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
