.team__standings {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.team__standings > h2 {
  margin-top: 5px;
}

.team__standings > table {
  table-layout: auto;
  width: 100%;
  font-size: 0.9rem;
  line-height: 130%;
  height: 95%;
  border-collapse: collapse;
}

.team__standings > table > tbody > tr {
  align-items: center;
  border-bottom: thin solid #9a9a9a;
}

.team__standings > table > tbody > tr > th:nth-child(2) {
  text-align: left;
}

.team__standings > table > tbody > tr > td:first-child {
  display: flex;
  justify-content: center;
  margin-right: 5px;
  height: 100%;
  align-items: center;
}

.team__standings > table > tbody > tr > td:last-child {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
}

.selectedTeam {
  font-weight: 700;
}

@media (max-width: 1500px) {
  .team__standings {
    height: auto;
  }
}
