.team {
  width: 100%;
  display: grid;
  grid-template-columns: 880px 320px 340px;
  grid-template-rows: 100px 230px 700px;
  grid-template-areas:
    "search fave fave"
    "teamdetails squad squad"
    "fixtures table stats";
}

.team__favebutton {
  grid-area: fave;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 40px;
}

.teaminfo__container {
  grid-area: teamdetails;
}

.fixtures__container {
  grid-area: fixtures;
}

.squad__container {
  grid-area: squad;
}

.standings__container {
  grid-area: table;
}

.seasonstats__container {
  grid-area: stats;
}

.team__info {
  display: flex;
  justify-content: space-between;
}

.team__info__logo {
  align-self: center;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
}

.team__info__info {
  width: 60%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  margin: 20px 40px;
  padding: 10px;
  display: flex;
}

.team__info__details {
  display: flex;
  flex-direction: column;
}

.team__info__details > h3 {
  margin-bottom: 5px;
}

.team__info__details > ul {
  list-style: none;
  padding-left: 0;
  column-count: 2;
  letter-spacing: 0.01em;
}

.team__info__details > ul > li {
  margin-bottom: 5px;
}

.team__info__details > ul > li > .formbox.red {
  display: inline-block;
  font-weight: 700;
  width: 20px;
  height: 20px;
  margin: 0 3px;
  background-color: #a40000;
  color: #fff;
  text-align: center;
}

.team__info__details > ul > li > .formbox.green {
  display: inline-block;
  font-weight: 700;
  width: 20px;
  height: 20px;
  margin: 0 3px;
  background-color: #0ea400;
  color: #fff;
  text-align: center;
}

.team__info__details > ul > li > .formbox.grey {
  display: inline-block;
  font-weight: 700;
  width: 20px;
  height: 20px;
  margin: 0 3px;
  background-color: #545454;
  color: #fff;
  text-align: center;
}

.team__info__league {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  margin: 20px 40px;
  background-color: #fff;
  width: 200px;
  margin-left: 10px;
}

.team__info__league > h4 {
  margin: 0;
}

.team__favebutton > button {
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.team__favebutton > button > img {
  margin-right: 0.8rem;
}

@media screen and (max-width: 1920px) {
  .team {
    display: grid;
    grid-template-columns: 880px 320px;
    grid-template-rows: 100px 230px 700px 230px 700px;
    grid-template-areas:
      "search fave"
      "teamdetails teamdetails"
      "fixtures fixtures"
      "squad squad"
      "table stats";
  }
}
