.player__info {
  display: flex;
  height: 300px;
  font-size: 1.2rem;
}

.player__name {
  grid-area: playername;
  margin-top: 0;
  margin-bottom: 2rem;
}

.player__stats {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "playername playername"
    "playerimg details";
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  margin-right: 25px;
}

.player__stats__img {
  grid-area: playerimg;
}

.player__stats > .player__stats__img > img {
  border-radius: 8px;
  margin-right: 20px;
}

.player__team {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  display: flex;
  align-items: center;
}
.player__stats__info {
  grid-area: details;
  display: flex;
  align-items: center;
}

.player__stats__info > ul {
  list-style: none;
  columns: 2;
  line-height: 150%;
  padding: 0;
}

@media (max-width: 1300px) {
  .player__info {
    height: auto;
  }

  .player__stats {
    grid-template-rows: 1fr 2fr;
  }
}

@media (max-width: 950px) {
  .player__info {
    flex-direction: column;
    height: 100%;
  }

  .player__stats {
    margin-right: 0;
    margin-bottom: 25px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "playername"
      "playerimg "
      "details";
    justify-items: center;
  }

  .player__team {
    justify-content: center;
  }
}
