.player__searchbar {
  grid-area: search;
}
.player__searchbar > input {
  border: none;
  border-radius: 8px;
  height: 50px;
  background: transparent url("../@img/searchicon.png");
  background-repeat: no-repeat;
  background-color: #fff;
  padding: 13px 4px 9px 60px;
  background-position: 3% 50%;
  font-size: 1.2rem;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.player__searchbar > .searchbar__dropdown {
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 246, 246);
  position: relative;
  border-radius: 8px;
  margin-top: 2px;
  max-height: 600px;
  overflow-y: scroll;
}

.player__searchbar > .searchbar__dropdown > .searchbar__dropdown--row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
  display: flex;
  align-items: center;
  border: 1px solid rgb(200, 199, 199);
  border-radius: 8px;
}

.player__searchbar > .searchbar__dropdown > .searchbar__dropdown--row > img {
  margin: 10px;
}
