.player {
  margin-left: 250px;
  padding: 20px;
  height: 100vh;
  width: 100%;
  display: grid;
  gap: 25px;
  grid-template-columns: 20% 2fr 1fr;
  grid-template-rows: 7% 25% 30%;
  grid-template-areas:
    "search search fave"
    "playerinfo playerinfo position"
    "current current position";
}

.player__search__container {
  grid-area: search;
  padding: 0;
}

.player__playerstats__container {
  grid-area: playerinfo;
}

.player__seasonstats__container {
  grid-area: current;
}

.player__position__container {
  grid-area: position;
}

.player__faveButton__container {
  grid-area: fave;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.player__faveButton__container > h4 {
  display: none;
}

.player__faveButton__container > button {
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.player__faveButton__container > button > p {
  margin: 0;
}

.player__faveButton__container > button > img {
  margin-right: 0.8rem;
}

@media (max-width: 1560px) {
  .player {
    height: 100%;
    grid-template-columns: 40% 40%;
    grid-template-rows: 50px auto;
    grid-template-areas:
      "search fave"
      "playerinfo playerinfo"
      "current current"
      "position position";
  }

  .player__faveButton__container > button > img {
    margin: 0;
  }

  .player__faveButton__container > button > p {
    display: none;
  }
}

@media (max-width: 950px) {
  .player {
    padding: 15px;
    height: fit-content;
    box-sizing: border-box;
    margin-left: 75px;
    grid-template-columns: 100%;
    grid-template-rows: 50px auto;
    grid-template-areas:
      "search"
      "fave"
      "playerinfo"
      "position"
      "current";
  }

  .player__faveButton__container {
    justify-content: space-between;
    align-items: center;
  }

  .player__faveButton__container > h4 {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    margin: 0;
  }

  .player__faveButton__container > button > img {
    margin-right: 0;
  }
}
