@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

#root {
  height: 100vh;
  width: 100vw;
}

.App {
  background-color: #d2d3df;
  height: 100%;
}
